<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<br>
<div style=" width: 1600px; display: inline-block; flex-direction: row; flex: content"  class="container">
  <div class="row justify-content-center" style="margin-top: 100px">
    <div class="col-md-8">
      <div class="card-group mb-0">
        <div class="card p-4">
          <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
            <div class="card-body">
              <h1>Register</h1>
              <p class="text-muted">Create an account</p>
              <div style="margin-bottom: 2px" class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input name="firstName" type="text" class="form-control" placeholder="First name" style="margin-left: 20px"
                       [(ngModel)]="firstName" required>
              </div>
              <span class="btn-danger" style="opacity: 60%" *ngIf="firstName.length < 5 ">Please enter the First name</span>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input name="lastName" type="text" class="form-control" placeholder="Last name" style="margin-left: 20px"
                       [(ngModel)]="lastName" required>
              </div>
              <span class="btn-danger" style="opacity: 60%" *ngIf="lastName.length < 5 ">Please enter the Last name</span>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input name="username" type="text" class="form-control" placeholder="Username" style="margin-left: 20px"
                       [(ngModel)]="username" required>
              </div>
              <span class="btn-danger" style="opacity: 60%" *ngIf="username.length < 5 ">Please enter the Username</span>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input name="email" type="email" class="form-control" placeholder="Email" style="margin-left: 20px"
                       [(ngModel)]="email" required>
              </div>
              <span class="btn-danger" style="opacity: 60%" *ngIf="email.length < 5 ">Please enter the email</span>
              <div class="row">
                <div class="col-6">
                  <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary px-4">Register</button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>


